<ion-view view-title="关于合拍" hide-tabs="false" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="background" id="about" overflow-scroll="true">
    <iframe id="aboutIframe" name="shopIframe" src="https://m.he-pai.cn/hpmobile/microSite/aboutUs/about.html" width="100%"  scrolling="yes" height="100%"></iframe>
  </ion-content>
</ion-view>
