<ion-view hide-tabs="false"  view-title="活动"  hide-back-button="true">
          
          <div  id="home">
            <ion-content class="background" overflow-scroll="true" >
                <div  class="mint-navbar"  >
                    <a  ng-class="showFlg == '0'?'mint-navbar-change':'mint-tab-item'"  ng-click="menuOn('0')"> 
                         <div class="mint-tab-item-label" >习学</div>
                    </a>
                    <a  ng-class="showFlg == '1'?'mint-navbar-change':'mint-tab-item'"   ng-click="menuOn('1')"> 
                        <div class="mint-tab-item-label">历史习学</div>
                    </a>
                    <!-- <a  ng-class="showFlg == '2'?'mint-navbar-change':'mint-tab-item'"   ng-click="menuOn('2')"> 
                        <div class="mint-tab-item-label" >聚会</div>
                   </a>
                   <a  ng-class="showFlg == '3'?'mint-navbar-change':'mint-tab-item'"    ng-click="menuOn('3')"> 
                      <div class="mint-tab-item-label" >往期活动</div>
                  </a> -->
               </div>
               <ion-refresher
               pulling-text="正在刷新..."
               refreshing-text="最后更新：今天{{vm.nowDate() | date:'hh:mm'}}"
               pulling-icon="ion-load-a"
               refreshing-icon="ion-load-a"
               on-refresh="vm.doRefresh()">
             </ion-refresher>
               <div ng-if="showFlg==0" class="g-pt-50 "> 
                <div class="g-mb-10 bgf" ng-if="vm.messages.length > 0" ng-repeat="message in vm.messages">
                  <div class="div1" ng-click="vm.bdDetail(message)">
                      <ul class="g-cf">
                        <li class="g-f-l g-pl-20  g-pt-15">
                          <p class="g-f-l photo"> <img ng-src="http://39.97.234.111/base/userFiles/{{message.gcphoto}}" style="width:100%;height:100%" /></p>
                          <div class="g-f-l g-pl-10"> 
                            <p class="name "  ng-bind="message.gcnikename"> </p>
                            <p class="g-cf m0p0">
                              <span class="g-f-l m0p0 time"  ng-bind="message.hdfqdate">05-10</span>
                            </p>
                          </div>
                        </li>
                        <li class=" g-f-r " style=" padding-top: 13px;">
                          <p  class="name ">财政\预算 </p>
                            <span class="g-f-l je " style="width: 40px;" ng-bind="message.hbjfje" ></span>
                            <div  class="g-f-l ">
                              <div style=" width: 40%;">  <img src="img/bd/List_shell.png " ></div>
                            </div>                  
                        </li>
                      </ul>
                  </div>
                  <div class="g-cf g-m-10 bgsolid " style=" margin-bottom: 0px;">
                      <p class="cont "  ng-bind-html ="message.title"  ng-click="vm.bdDetail(message)"></p> 
                      <p class="cont "  ng-bind-html ="message.cont"  ng-click="vm.bdDetail(message)"></p> 
                             <div class="g-cf ">
                            
                               <div class="limg" ng-if="message.imgTemp.length > 0" ng-repeat=" img in message.imgTemp  track by $index" ng-click="vm.showBigImage('{{img}}','{{message.imgTemp}}')"> 
                                  <img ng-src="http://39.97.234.111/base/userFiles/hdImg/{{img}}"   style="width:100%;height:100%">
                                </div>
        
                              </div> 
                  </div>   
                  <div class="div1"> 
                        <ul class="g-cf">
                          <li class="g-f-l g-pl-10   g-pt-10" style="width: 50%;">
                            <p class="g-f-l " style=" width: 53%;"> <img src="img/bd/List_people.png" ></p>
                            <div class="g-f-l g-pl-10"> 
                              <p class="bl6 " style="padding-top: 4px;"><span ng-bind="message.zyrcount"></span><span>人参与</span></p>
                            </div>
                          <!-- </li>
                          <li class=" g-f-r " style=" padding-top: 12px;">
                              <div class="g-cf">
                                <div class="gifshow" gifShow="{{$index}}">
                                  <img src ="img/bd/biggif.gif" style="position: absolute;">
                                </div>
                                  <div class=" m0p0 g-f-l ">
                                     <div class="g-f-l g-pl-5"> <div  style="width: 52%;">  <img src="img/bd/List_message.png" >  </div></div> 
                                      <p class="g-f-l g-pl-5" style="position: relative; top: 2px; left: -20px;">  <span class=" m0p0 bl6"  ng-bind="message.pinglunsize"></span></p>
                                 </div>
                                 <div class=" m0p0 g-f-l "  ng-click ="vm.dianzan(message.bdid,$index)">
                                    <div class="g-f-l g-pl-5" > <div style="width: 52%;"> <img src="img/bd/List_praise.png"  imgindex="{{$index}}" class="dzimg">  </div></div>
                                    <p class="g-f-l g-pl-5"style="position: relative; top: 2px; left: -20px;"> <span  class=" m0p0 bl6 dzsize"  ng-bind="message.bddzcount"  dzsize="{{$index}}"></span></p>
                                </div>  
                              </div>
                          </li> -->
                        </ul>
                  </div>
                </div>
               </div>

               <div ng-if="showFlg==1" class="g-pt-50 ">
                  研学
              </div>
              <div ng-if="showFlg==2" class="g-pt-50 ">
                  聚会
              </div>
              <div ng-if="showFlg==3" class="g-pt-50 ">
                  往期活动
              </div>
              <ul class="g-listNoData g-fz-b1" ng-if="vm.messages.length <=0">
                <li class="icon ion-ios-paper-outline g-c99" style="font-size:5em;"></li>
                <li class="g-c99">暂无数据</li>
               </ul>
             <ion-infinite-scroll ng-if="!vm.moredata" immediate-check="false" on-infinite="vm.loadMore()" distance="5%" icon="ion-load-a">
            </ion-infinite-scroll>
            </ion-content>
            <div class="g-popover-backdrop" ng-if="vm.bigImage" ng-click="vm.hideBigImage()">
              <div class="shadow"></div>
              <img ng-src="{{vm.url}}"/>
          </div>
         </div>
    </ion-view>
    