<ion-view view-title="资产统计" hide-tabs="true" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i> 
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear button-light" href="#/tab/capitalFlow">
      <i>资金流水</i>
    </a>
  </ion-nav-buttons>
  <ion-content class="background" id="assetStatistics" overflow-scroll="true" >
    <iframe id="assetEchartIframe" name="assetEchartIframe" ng-src="page/assetEchart.html" width="100%" height="200px" scrolling="no"></iframe>
    <div class="mainAccount">
      <p class="title"><span>主账户</span></p>
      <ul class="list">
         <li ng-click="toView('tab.capitalFlow')">
          <div class="item item-icon-right">
            <p class="money">
              <span class="styleIcon icon1"></span>
              可用余额
              <span class="g-f-r" ng-bind="data.remainAmt | currency: ''"></span>
              <i class="icon ion-chevron-right" style="font-size:1em;"></i>
            </p>
          </div>
        </li>
        <li>
          <div class="item item-icon-right">
            <p class="money">
             <span class="styleIcon icon3"></span>
              冻结资金
              <span class="g-f-r" ng-bind="data.frzAmt | currency: ''"></span>
            </p>
          </div>
        </li>
        <li ng-click="toMyInvest()">
          <div class="item item-icon-right">
            <p class="money">
              <span class="styleIcon icon2"></span>
              待收本金
              <span class="g-f-r" ng-bind="data.masterInvestAmt | currency: ''"></span>
              <i class="icon ion-chevron-right" style="font-size:1em;"></i>
            </p>
          </div>
        </li>
        <li ng-click="toMyInvest()">
          <div class="item item-icon-right last">
            <p class="money">
              <span class="styleIcon icon4"></span>
              待收垫付
              <span class="g-f-r" ng-bind="data.transferIntAmt | currency: ''"></span>
              <i class="icon ion-chevron-right" style="font-size:1em;"></i>
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="subAccount g-mt-10">
      <p class="title"><span>子账户</span></p>
      <ul class="list">
        <li ng-click="toRegularPlan()">
          <div class="item item-icon-right">
            <p class="money">
              <span class="styleIcon icon5"></span>
              待投本金
              <span class="g-f-r" ng-bind="data.subFrzAmt | currency: ''"></span>
              <i class="icon ion-chevron-right" style="font-size:1em;"></i>
            </p>
          </div>
        </li>
        <li ng-click="toRegularPlan()">
          <div class="item item-icon-right last">
            <p class="money">
              <span class="styleIcon icon6"></span>
              待收本金
              <span class="g-f-r" ng-bind="data.subInvestAmt | currency: ''"></span>
              <i class="icon ion-chevron-right" style="font-size:1em;"></i>
            </p>
          </div>
        </li>
      </ul>
    </div>
	<div class="subAccount g-mt-10" ng-if="has_my_bill">
      <p class="title"></p>
      <ul class="list">
	  <li ng-click="toMyBill()">
          <div class="item item-icon-right last">
            <p class="money">
              <span class="styleIcon icon7"></span>
               每月账单
              <span class="g-f-r" ng-bind="my_bill_date"></span>
              <i class="icon ion-chevron-right" style="font-size:1em;"></i>
            </p>
          </div>
     </li>
	 </ul>
    </div>
   </ion-content>
</ion-view>