<ion-view hide-tabs="true" hide-back-button="true"><!-- hide-nav-bar = "true" -->
  <ion-nav-title ng-bind="title"></ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i> 
    </button>
  </ion-nav-buttons>
  <div id="contract">
    <ion-content class="background" scroll="false" overflow-scroll="true" overflow-scroll="true" >
      <iframe id="bannerIframe" name="bannerIframe" src="" width="100%"  scrolling="yes" height="100%"></iframe>
    </ion-content>
  </div>
</ion-view>