<ion-view  view-title="身份验证" hide-tabs="true" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i> 
    </button>
  </ion-nav-buttons>
  <div id="forgetLoginPassword2">
    <ion-content class="background" overflow-scroll="true" >
      <form name="myForm">
        <div class="notice" ng-bind="forgetLogin.notice"></div>
        <div class="item item-input g-mtb-10 g-pr-10">
          <input type="text" class="getMsgCodeIpt" placeholder="请输入验证码" ng-model="forgetLogin.msgCode" ng-blur="checkMsgCode()"/>
          <div ng-click="getMsgCode()" class="getmsgcode">
              <getmsgcode></getmsgcode>
          </div>
        </div>
        <div class="item item-input g-mt-10 mb-25" ng-if="forgetLogin.flag">
          <input type="text" placeholder="请输入身份证号码" ng-model="forgetLogin.idNo" ng-blur="checkIdNo()"/>
        </div>
        <div class="g-mtb-10 g-pl-10 g-pr-10">
          <input type="submit" class="button button-block button-orange" value="下一步" ng-click="nextStep()">
        </div>
      </form>  
    </ion-content>
  </div>
</ion-view>