 <ion-view hide-tabs="false"  view-title="帮助中心"  hide-back-button="true">
   <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i> 
    </button>
  </ion-nav-buttons>
  <ion-content class="background" id="find" overflow-scroll="true" >
  <ion-nav-buttons side="left">
   <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i> 
    </button>
  </ion-nav-buttons>
  </ion-nav-buttons>
    <!--ion-ios-arrow-up ion-ios-arrow-down ion-ios-arrow-right-->
    <div class="dynamics g-mt-10" >
      <div class="bts">
        <a class="item  item-icon-right separate2" style="padding:10px">
          <p>
            <span style="padding-left: 10px">{{helpDetailList.title}}</span>
          </p>

        </a>
      </div>
        <div id="AnnouncementContentDIV" style="font-size:14px;margin-top: 3px;margin-bottom: 0px;background-color:#fff" class="item-text-wrap">
    </div>
  </ion-content>
</ion-view>
