 <ion-view hide-tabs="false"  view-title="{{id}}"  hide-back-button="true">
   <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i> 
    </button>
  </ion-nav-buttons>
  <ion-content class="background" id="find" overflow-scroll="true" >
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i>
    </button>
  </ion-nav-buttons>
    <div class="dynamics g-mt-10"  ng-show="gFaq">
      <div class="bts" ng-repeat="helpList in helpList" ng-show="listFlg">
        <a class="item  item-icon-right separate2"  ng-click="gohelpDetail(helpList.id)" >
          <p>
           <span>{{helpList.title}}</span>
            <i class="icon ion-ios-arrow-right" style="font-size:1em;"></i>
          </p>
        </a>
      </div>
    </div>
     <div class="dynamics g-mt-10"  ng-show="cjFaq">
        <div class="bts" ng-repeat="helpList in helpList" ng-show="listFlg">
          <a class="item  item-icon-right separate2" style="padding:10px" ng-click="getHelpList(helpList.id,helpList.title)" >
           <p>
            <span style="padding-left: 10px">{{helpList.title}}</span>
            <i  class="icon ion-ios-arrow-right" style="font-size:1em;"></i>
          </p>
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>
