<ion-view hide-tabs="true" hide-back-button="true">
  <ion-nav-title>
  <span ng-bind="protocolTitle()"></span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i> 
    </button>
  </ion-nav-buttons>
  <ion-content class="background" overflow-scroll="true" >
	<div class="protocolWrapper" id="protocolWrapper">
        <div class="item  item-icon-right g-mtb-10" ng-click="goAgreement()">
          <p>债权转让合同<i class="icon ion-chevron-right" style="font-size:1em;"></i></p>
        </div>
	</div>
  </ion-content>
</ion-view>
