<ion-view view-title="我要投资" hide-tabs="true" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i> 
    </button>
  </ion-nav-buttons>
 <!--  <ion-nav-buttons side="right">
    <a class="button button-clear button-light" ng-click="toZzbProtocol()">
      协议
    </a>
  </ion-nav-buttons> -->
  <ion-content class="background myInvest g-c66" id="myInvest" overflow-scroll="true" >
      <div class="item item-input g-pb-10" style="padding-top:16px;">
            <span>投资金额：</span>
            <!-- <input name = "investMoney" class="orangeInput investInput1" type="text" placeholder="请输入投资金额" ng-model="invest.money" required
            ng-required="true" ng-blur="blur()" ng-keyup="onKeyUp()"> -->
            <div class="keyboardWrapper">
              <input type="text" class="orangeInput investInput1" placeholder="请输入投资金额" ng-model="invest.money" name="invest.money" ng-blur="blur()"  boardtype="v1" keyboard>
              <div class="imitateCursor animation">{{invest.money}}</div>
            </div>
            <i class="input1-yuan g-c99">元</i>
            <span  class="allTxt1 g-cf36026" ng-click="investAll()">全部</span>
      </div>
      <div class="item g-pt-10 b-mark">
            <p class="p-bor"><span class="g-mr-10 g-c99">含：本金{{money | number:2}}元+垫付利息{{interest | number:2}}元</span></p>
      </div>
      <div class="item g-pt-10 g-pb-10 g-mb-10 g-ta-r">
          <span class="g-c99">可投金额：{{CAN_BID_BAL | number:2}}元</span>
      </div>
      <div class="item item-icon-right">
          <span><span>可用余额：</span>{{keyye | number:2}}元</span>
          <a class="g-f-r g-c99 g-fz-14" href="#/recharge">立即充值</a>
          <p><i class="icon ion-chevron-right" style="font-size: 1em;"></i></p>
      </div>
      <div style="padding:16px;">
        <input class="invest-checkBox" type="checkbox" id="checkBox" ng-checked="checkBox.value" ng-model="checkBox.value">
        同意并签署
        <a ng-click= "goProtocol(1)">《债权转让协议》</a>
        <a ng-click= "goProtocol(2)">《债权转让合同》</a>
        <a ng-if="isSignCertAuth != '1'" href="javascript:;" ng-click="showBook()">《数字证书用户使用责任书》</a>
        <a ng-if="isSignCertAuth != '1'" href="javascript:;" ng-click="showApply()">《自动调用数字证书授权申请书》</a>
      </div>
      <div class="g-m-10">
        <button class="button  button-orange button-block" ng-click="showPopup()">
          同意协议并投资
        </button>
      </div>
      <div class="g-ta-c">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-anquan"></use>
        </svg>
        合拍在线通过“等级保护三级认证”，系统安全可靠，放心交易
      </div>
  </ion-content>
</ion-view>
