<ion-view view-title="债转标投资协议" hide-tabs="true" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i> 
    </button>
  </ion-nav-buttons>
  <ion-content class="background" overflow-scroll="true" >
	<div class="protocolWrapper" id="protocolWrapper">
	      <div class="item  item-icon-right g-mtb-10" ng-click="goJjsCnt()">
          <p>收益权转让及回购协议<i class="icon ion-chevron-right" style="font-size:1em;"></i></p>
        </div>
	</div>
  </ion-content>
</ion-view>
