<ion-view  view-title="投资详情" hide-tabs="true" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="$ionicGoBack()">
      <i class="icon ion-ios-arrow-left color-fff"></i> 
    </button>
  </ion-nav-buttons>
    <ion-content class="g-c66" id="investDetail" overflow-scroll="true" >
    	<p class="title">
    		<span ng-bind="dataInfo.body.lnNm"></span>
    		<span class="bidState g-f-r" ng-bind="status[index]"></span>
    	</p>
    	<ul class="list">
    		<li class="g-mb-10">
	    		<div class="row itemTitle" ng-click="toggleMenu(arrowDown1,menuState1)">
	    			<div class="col">项目信息</div>
	    			<div class="col g-ta-r arrow" ng-class="{true:'ion-android-arrow-dropdown',false:'ion-android-arrow-dropup'}[arrowDown1.show]"></div>
	    		</div>
	    		<div class="content" ng-show="menuState1.show">
	    			<div class="row">
		    			<div class="col">投资金额</div>
		    			<div class="col g-ta-r"><span ng-bind="planDetailInfo.ivsAmt | number:2"></span>元</div>
		    		</div>
		    		<div class="row">
		    			<div class="col">年利率</div>
		    			<div class="col g-ta-r"><span ng-bind="planDetailInfo.rate | number:2"></span>%</div>
		    		</div>
		    		<div class="row">
		    			<div class="col">加入日期</div>
		    			<div class="col g-ta-r" ng-bind="planDetailInfo.joinDate"></div>
		    		</div>
		    		<div class="row">
		    			<div class="col">退出日期</div>
		    			<div class="col g-ta-r"><span ng-bind="planDetailInfo.exitDate"></span></div>
		    		</div>
		    		<div class="row">
		    			<div class="col">待投本金</div>
		    			<div class="col g-ta-r"><span ng-bind="planDetailInfo.remainAmt"></span>元</div>
		    		</div>
		    		<div class="row">
		    			<div class="col">待收本金</div>
		    			<div class="col g-ta-r"><span ng-bind="planDetailInfo.waitBackAmt | number:2"></span>元</div>
		    		</div>
		    		<div class="row">
		    			<div class="col">待收利息</div>
		    			<div class="col g-ta-r"><span ng-bind="planDetailInfo.expireAmt | number:2"></span>元</div>
		    		</div>
		    		<div class="row">
		    			<div class="col">预计收益</div>
		    			<div class="col g-ta-r"><span ng-bind="0.9 * planDetailInfo.expireAmt | number:2"></span>元</div>
		    		</div>
	    		</div>
    		</li>
			<li class="g-mb-10">
	    		<div class="row itemTitle" ng-click="toggleMenu(arrowDown2,menuState2)">
	    			<div class="col">已投项目</div>
	    			<div class="col g-ta-r arrow" ng-class="{true:'ion-android-arrow-dropdown',false:'ion-android-arrow-dropup'}[arrowDown2.show]"></div>
	    		</div>
	    		<div class="content" ng-show="menuState2.show">
	    			<div class="row">
		    			<div class="col">借款项目</div>
		    			<div class="col g-ta-r">投资金额</div>
		    		</div>
	    			<div class="row" ng-if="dataInfo.planList.length > 0" ng-repeat="message in dataInfo.planList">
		    			<div class="col" ng-bind="message.lnNm"></div>
		    			<div class="col g-ta-r"><span ng-bind="message.bidAmt | number:2"></span>元</div>
		    		</div>
		    		<div class="row" ng-if="dataInfo.planList.length == 0">
		    			<div class="col g-ta-c">暂无数据</div>
		    		</div>
	    		</div>
    		</li>
        <li class="g-mb-10">
          <div class="row itemTitle" ng-click="toggleMenu(arrowDown4,menuState4)">
            <div class="col">资金流水</div>
            <div class="col g-ta-r arrow" ng-class="{true:'ion-android-arrow-dropdown',false:'ion-android-arrow-dropup'}[arrowDown4.show]"></div>
          </div>
          <div class="content" ng-show="menuState4.show">
            <div class="row">
              <div class="col">交易时间</div>
              <div class="col">交易类型</div>
              <div class="col g-ta-r">交易金额</div>
            </div>
            <div class="row" ng-if="flowList.length > 0" ng-repeat="message in flowList">
              <div class="col" ng-bind="message.txDt"></div>
              <div class="col"><span ng-bind="message.txTypDesc"></span></div>
              <div class="col g-ta-r"><span ng-bind="message.ipFlg=='P'?'-':'+'"></span><span ng-bind="message.txAmt | number:2"></span>元</div>
            </div>
            <div class="row" ng-if="flowList.length == 0">
              <div class="col g-ta-c">暂无数据</div>
            </div>
          </div>
        </li>
    		<li class="g-mb-10" >
    			<div class="row itemTitle" ng-click="toggleMenu(arrowDown3,menuState3)">
	    			<div class="col">项目合同</div>
	    			<div class="col g-ta-r arrow" ng-class="{true:'ion-android-arrow-dropdown',false:'ion-android-arrow-dropup'}[arrowDown3.show]"></div>
	    		</div>
	    		<div class="content" ng-show="menuState3.show">
	    			<div ng-repeat="contract in dataInfo.cntifiList">
	    				<!-- 目前只有活力盈，稳利盈两种定期计划，这里展示合同的时候，只展示计划服务协议，其中稳利盈是CN3021，活力盈是CN3121 -->
			    		<div ng-if="contract.cntplNo == 'CN3021' || contract.cntplNo=='CN3121' || contract.cntplNo=='CN3221'">
			    			<div class="item item-icon-right g-mt-10" ng-if="contract.fddViewUrl" ng-click="viewToFadadaContract(contract.fddViewUrl)">
						      <p>《<span ng-bind="contract.cntplNm"></span>》<i class="icon ion-chevron-right" style="font-size:1em;"></i></p>
						    </div>
				    		<div style="margin-bottom:50px"class="item item-icon-right g-mt-10" ng-if="!contract.fddViewUrl" ng-click="viewToOldContract(contract.cnflNo)">
						      <p>《<span ng-bind="contract.cntplNm"></span>》<i class="icon ion-chevron-right" style="font-size:1em;"></i></p>
						    </div>
				    </div>	
	    		</div>
    		</li>
    	</ul>
    </ion-content>
	<ion-footer-bar align-title="center" class="orange" ng-if="planInfo.PLAN_TYP == '2' && planInfo.PLAN_STATUS == '1' && planInfo.JOINDAY>0 && planDetailInfo.planTyp !='3'">
     	 <div class="title g-cff"	ng-click="toQuitHly()">申请退出</div>
    </ion-footer-bar>
    <ion-footer-bar align-title="center" ng-class="{true: 'orange ', false: 'qubar'}[CheckClass]" ng-if=" planDetailInfo.planTyp =='3'&& planDetailInfo.exitBeforeDays=='1' ">
		<div class="quite_t" >持有<span ng-bind="planDetailInfo.exitBeforeDays"></span><span>天后方可提前退出</span></div>
		<div  class="quite_f" ng-click="toQuitHly()">提前退出</div>
    </ion-footer-bar>
</ion-view>