<ion-view   hide-tabs="true" hide-back-button="true">
  <ion-nav-title>
   披露声明
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i>
    </button>
  </ion-nav-buttons>
  <div>
    <ion-content overflow-scroll="true">
      <div><img src="img/plContent.jpg" alt="tu" style=" max-width: 100%"/></div>
    </ion-content>
  </div>
</ion-view>
