<ion-view  view-title="活力盈产品详情" hide-tabs="true">
  <div id="projectDetail">
    <ion-content class="background" overflow-scroll="true" >
      <ion-slide-box class="jjb-pro"  active-slide="slideIndex" show-pager="false" does-continue="false" id="projectSlide" ng-init="lockSlide()">
        <ion-slide>
              <ul id="wlyul">
                <li>
                    <span class="subTitle bor-mark-left">产品名称：</span>
                    <span class="subContent" ng-bind="body.proDetail.plan_name"></span>
                </li>
                <li class="g-mb-10">
                    <span class="subTitle bor-mark-left">产品介绍：</span>
                    <span class="subContent"><span ng-bind="body.proDetail.plan_desc"></span>详情参见《<a href="#" ng-click="goHlyCnt()">活力盈产品说明书</a>》</span>
                </li>
                <li>
                  <span class="subTitle bor-mark-left">预期利率：</span>
                  <span class="subContent">年化<span ng-bind="body.proDetail.rate"></span>%（每一笔投资以加入计划 时利率为准）</span>
                </li>
                <li>
                  <span class="subTitle bor-mark-left">计划期限：</span>
                  <span class="subContent"><span ng-bind="body.proDetail.term"></span>天（最短持有1天，最长投资期限为360天，以投资者实际期限内申请退出日为持有计划的最终退出日期）</span>
                </li>
                <li>
                  <span class="subTitle bor-mark-left">单人上限：</span>
                  <span class="subContent">每人单笔投资限额<span ng-bind="body.proDetail.MAX_AMT"></span>元，每人加入活力盈总金额不得超过<span ng-bind="body.proDetail.lIMIT_IVSAMT"></span>元</span>
                </li>
                <li>
                    <span class="subTitle bor-mark-left">退出方式：</span>
                    <span class="subContent" ng-bind="body.proDetail.expire_exit_way"></span>
                </li>
                <li>
                    <span class="subTitle bor-mark-left">退出规则：</span>
                    <div class="subContent" ng-repeat="item in body.proDetail.ahead_exit_way">
                      <span>{{item}}</span>
                    </div>
                </li>
                <li>
                    <span class="subTitle bor-mark-left">费用：</span>
                    <p class="subContent" ng-repeat="item in body.proDetail.fee_arr">
                      <span>{{item.fee_typ_desc}}</span>：<span>{{item.fee_rate}}</span>%
                    </p>
                </li>
                <li>
                    <span class="subTitle bor-mark-left">保障模式：</span>
                    <span class="subContent" ng-bind="body.proDetail.securit_pattern"></span>
                </li>
              </ul>
        </ion-slide>
      </ion-slide-box>
    </ion-content>
  </div>
</ion-view>
