<ion-view view-title="" hide-tabs="false" hide-back-button="true">
  <ion-nav-title>
    <span >交易记录</span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i>
    </button>
  </ion-nav-buttons>
<div id="home">
  <ion-content class="background"  overflow-scroll="true" >
      <ion-refresher
        pulling-text="正在刷新..."
        refreshing-text="最后更新：今天{{vm.nowDate() | date:'hh:mm'}}"
        pulling-icon="ion-load-a"
        refreshing-icon="ion-load-a"
        on-refresh="vm.doRefresh()">
      </ion-refresher>
    <div class="bgf solid" ng-if="vm.messages.length > 0" ng-repeat="message in vm.messages" ng-click="vm.jyDetail(message)">
      <ul class="g-cf">
        <li class="g-f-l g-pl-10  g-pt-10">
          <p class="g-f-l photo"> <img ng-src="img/mine/jyjl.png" style="width:100%;height:100%" /></p>
          <div class="g-f-l g-pl-10"> 
            <p class="g-c33 "  > {{message.qbjyszdname}}</p>
            <p class="g-cf m0p0">
              <span class="g-f-l m0p0 time"  >{{message.qbjydate}}</span>
            
            </p>
          </div>
        </li>
        <li class=" g-f-r " style=" padding-top: 13px;">
            <p  class="name ">青贝动态</p>
              <span class="g-f-l je " style="width: 40px;" ng-bind="message.qbjyjine" ></span><span>MQB</span>
              <div  class="g-f-l ">
                <div style=" width: 40%;">  <img src="img/bd/List_shell.png " ></div>
              </div>                  
          </li>
      
      </ul>
  </div>
  <ul class="g-listNoData g-fz-b1" ng-if="vm.messages.length <=0">
		<li class="icon ion-ios-paper-outline g-c99" style="font-size:5em;"></li>
		<li class="g-c99">暂无数据</li>
	 </ul>
  <ion-infinite-scroll ng-if="!vm.moredata" immediate-check="false" on-infinite="vm.loadMore()" distance="5%" icon="ion-load-a">
    </ion-infinite-scroll>
  </ion-content>
</div>
</ion-view>
