<ion-view  view-title="申请数字证书" hide-tabs="true" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i>
    </button>
  </ion-nav-buttons>
    <ion-content class="background" overflow-scroll="true">
		  <div class="list" id="applyCertificate">
        <div class="g-p-20 g-mtb-10 applyTop bg-fff">
         <p><span ng-class="{'active':applyData.isApplyCert == '0'}">1</span>数字证书申请</p>
         <p><span ng-class="{'active':applyData.isApplyCert == '1' && applyData.isSignCertAuth == '0'}">2</span>数字证书授权</p>
        </div>
        <!-- 数字证书未申请 -->
        <div ng-if="user.IDTYP=='01'">
          <div ng-if="applyData.isApplyCert == '0'">
            <label class="item item-input">
            <p class="input-label">姓名</p>
            <p><span ng-bind="user.CIRELNM"></span></p>
          </label>
          <label class="item item-input">
            <p class="input-label">身份证号</p>
            <p><span ng-bind="formatIdNo(user.IDNO)"></span></p>
          </label>
            <label class="item item-input">
              <p class="input-label">邮箱</p>
              <input type="email" placeholder="请输入您的电子邮箱" name="id" ng-model="user.EMAIL" required="required" ng-blur="emailblur()">
            </label>
            <label class="item item-input">
              <p class="input-label">手机号码</p>
              <p><span ng-bind="user.MBPHN"></span></p>
            </label>
            <div class="g-m-10">
              <div>
                点击“申请”即代表您已阅读并同意接受《<a href="javascript:;" ng-click="showBook()">数字证书用户使用责任书</a>》中所有条款，并保证遵守当中所明确的职责
              </div>
              <a ng-class="{'button-gray':isGray}" class="button button-block button-orange g-m-10" href="#" ng-click="apply()">
                申请
                <ion-spinner ng-if="isGray" icon="dots" class="spinner-light request-spinner"></ion-spinner>
              </a>
            </div>
          </div>
        </div>
        <div ng-if="user.IDTYP=='02'" class="card">
          <div class="item item-divider g-ta-c">
            温馨提示
          </div>
          <div class="item item-text-wrap">
            <p>1. 申请数字证书需使用大陆居民身份证进行身份验证</p>
            <p>2. 港澳台用户受监管原因，暂不支持</p>
            <p>3. 数字证书将用于投资时完成在线合同签署，请尽快申请</p>
         </div>
        </div> 
        <!-- 数字证书已申请未授权 -->
        <div ng-if="applyData.isApplyCert == '1' && applyData.isSignCertAuth == '0'" class="safetySuccess">
            <div class="g-mtb-10 g-p-20 bg-fff">
              为了保障您的电子合同的有效性和方便快捷性，请首次签署授权，在往后的投资中，系统将自动完成数字证书签署合同。
            </div>
            <p class="g-mt-20 g-ml-10 g-mr-10">
              点击“同意授权”即代表您已阅读并同意接受 《<a href="javascript:;" ng-click="showApply()">自动调用数字证书授权申请书</a>》，并授权合拍在线平台将在本人同意后自动调用数字证书来完成您的合同签署。
            </p>
            <a ng-class="{'button-gray':isGray}" class="button button-block button-orange g-m-10" href="#" ng-click="authorization()">
              同意授权
              <ion-spinner ng-if="isGray" icon="dots" class="spinner-light request-spinner"></ion-spinner>
            </a>
        </div>
		  </div>
    </ion-content>
</ion-view>
