<ion-view view-title="{{title}}" hide-tabs="false" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
          <i class="icon ion-ios-arrow-left color-fff"></i> 
        </button>
      </ion-nav-buttons>
      <ion-content class="bgclor" scroll="true" overflow-scroll="true"  id="msg" >
        <div id="wrapper">
            <div  class="navbar" id="scroller0">
                <a class="navbar-item navadd"  ng-click="openDetail(urlList[0].url,urlList[0].title)"> 组织信息</a>
                <a class="navbar-item"  ng-click="openDetail(urlList[1].url,urlList[1].title)"> 披露声明 </a>
                <a class="navbar-item"  ng-click="openDetail(urlList[2].url,urlList[2].title)"> 高管团队 </a>
                <a class="navbar-item"  ng-click="openDetail(urlList[3].url,urlList[3].title)"> 合拍公告 </a>
                <a class="navbar-item"  ng-click="openDetail(urlList[4].url,urlList[4].title)"> 备案信息 </a>
                <a class="navbar-item"  ng-click="openDetail(urlList[5].url,urlList[5].title)"> 运营数据 </a>
                <a class="navbar-item"  ng-click="openDetail(urlList[6].url,urlList[6].title)"> 风控措施 </a>
                <a class="navbar-item"  ng-click="openDetail(urlList[7].url,urlList[7].title)"> 荣誉资质 </a>
                <a class="navbar-item"  ng-click="openDetail(urlList[8].url,urlList[8].title)"> 收费/规则 </a>
            </div>
        </div>
        <div id="wrapper2" class="g-cf" style="height:3619px">
            <div  class="g-cf" id="scroller1">
                <ul class="g-cf scrul" >
                    <!--组织信息-->
                    <li class="scruli">  
                        <div class="mt_30 g-p-10 scrollerdiv" id="team" height="3619" >
                            <div>
                                <p class="suntitle">公司信息</p>
                                <div class="content_color">
                                    <table class="table" cellspacing="0" cellpadding="0" style="border: none;">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    公司全称：
                                                </th>
                                                <td>
                                                    深圳市合拍在线互联网金融服务有限公司
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    公司简称：
                                                </th>
                                                <td>
                                                    合拍在线
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    统一社会信用码：
                                                </th>
                                                <td>
                                                    91440300068588146D
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    公司注册资本：
                                                </th>
                                                <td>
                                                    10000万
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    实缴注册资本：
                                                </th>
                                                <td>
                                                    10000万
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    公司注册地：
                                                </th>
                                                <td>
                                                    深圳市福田区福田街道滨河路与彩田路交汇处联合广场A座裙楼A201H
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    公司经营地：
                                                </th>
                                                <td>
                                                    深圳市福田区福田街道滨河路与彩田路交汇处联合广场A座裙楼A201H
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    上线时间：
                                                </th>
                                                <td>
                                                    2012/6/8
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    公司经营期限：
                                                </th>
                                                <td>
                                                    永续经营
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    公司经营状态：
                                                </th>
                                                <td>
                                                    开业（存续）
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    公司法定代表人：
                                                </th>
                                                <td>
                                                    俞淑清
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    公司经营范围：
                                                </th>
                                                <td>
                                                    依托互联网等技术手段，提供金融中介服务（根据国家规定需要审批的，获得审批后方可经营）；
                                                                        计算机数据库；计算机系统分析；提供计算机技术服务；网上贸易；网上咨询；网络商务服务；数
                                                                        据库服务；数据库管理；互联网技术推广服务；投资咨询；经济贸易咨询（涉及前置性行政许可的，
                                                                        须取得前置性行政许可文件后方可经营）；自有房屋租赁。
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    公司官方网址：
                                                </th>
                                                <td>
                                                    www.he-pai.cn
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    平台APP名称：
                                                </th>
                                                <td>
                                                    合拍在线
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    APP应用市场：
                                                </th>
                                                <td>
                                                    苹果、应用宝、华为、小米、三星、360、百度、oppo、vivo、UC、魅族、搜狗
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    微信公众号：
                                                </th>
                                                <td>
                                                    合拍在线（hepaizaixian）
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    微博：
                                                </th>
                                                <td>
                                                    合拍在线
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <div >
                                    <p class="suntitle">股东信息</p>
                                    <img src="https://www.he-pai.cn/member/upload/pms/201806/27162923asom.png?t={{time}}" />
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p class="suntitle">组织架构</p>
                                    <img src="https://www.he-pai.cn/member/upload/pms/201806/27163017h7mq.png?t={{time}}" />
                                </div>
                                <div> 
                                    <p class="suntitle">从业人员概况</p>
                                    <img src="https://www.he-pai.cn/member/upload/pms/201806/2716311907zt.png?t={{time}}" />
                                </div> 
                            </div>
                            <div>
                                <p class="suntitle">分支机构</p>
                                <div class="content_color fz">
                                    <div class="content_color fz">	暂无分支机构</div>
                                </div>
                            </div>
                            <div>
                                <p class="suntitle">渠道信息</p>
                                <img src="https://www.he-pai.cn/member/upload/pms/201806/27163423ev3k.png?t={{time}}" alt="" />
                            </div>
                            <div>
                                <p class="suntitle">联系信息</p>
                                <img src="https://www.he-pai.cn/member/upload/pms/201806/27163558p5jc.png?t={{time}}" alt="" />
                            </div>
                        </div>
                    </li>
                    <!--组织信息end-->
                        <!--披露声明-->
                    <li class="scruli">
                            <div class="list pt mt_30 scrollerdiv" height="750">
                                <div class="bgimg pt">
                                    <img src="img/plContent.jpg" style=" max-width: 100%;"/>
                                </div>
                            </div>
                    </li>
                    <!--高管团队-->
                    <li class="scruli">
                        <div id="pageStruct" class="mt_30 scrollerdiv" height="1800" >
                                <div class="pageStructP2">
                                    <div id="memberLstBox">
                                        <ul>
                                            <li class="item2" ng-repeat="superLeaderData in superLeaderData">
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="middle"><img  style="max-width:none" ng-src="{{superLeaderData.img}}"></td>
                                                        <td valign="top">
                                                            <div class="con">
                                                                <div class="p1">
                                                                    <span class="name">{{superLeaderData.name}}</span> <span class="role">{{superLeaderData.role}}</span>
                                                                </div>
                                                                <p class="edu">{{superLeaderData.edu}}</p>
                                                                <div>
                                                                    {{superLeaderData.desc}}
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </li>
                    <!--高管团队end-->
                    <!--公告-->
                    <li class="scruli">
                        <div  id="hpNew" class="scrollerdiv" height="850">
                            <div class="bgclor mar_10 mt_30">
                                <div class="hcard">
                                    <div class="boomcard ">
                                        <a ng-click="openUrl('站内公告','233');"> 
                                                <p class="tac">	
                                                    <span class="listit">
                                                    <img  class="img" src="img/msg.png">
                                                    站内公告
                                                    </span>
                                                    <span class="fr m_r10">更多></span>
                                                </p>
                                        </a>
                                        <div ng-repeat="hpNewData in hpNewData" style="padding-top:1px;border-bottom: solid 1px #ddd;">
                                            <a style="text-decoration:none" href="#/AnnouncementContent/{{hpNewData.article_id}}/站内公告"> 
                                            <div class="hpt_10">
                                                    <p>{{hpNewData.title}}</p>
                                            </div>
                                            <div class="c l_h10 m_r10 mb_20 ">
                                                <span class="fl hpt_10">{{hpNewData.sdate}}</span>
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--还款公告-->
                            <div class="bgclor mar_10">
                                    <div class="hcard">
                                        <div class="boomcard ">
                                            <a  href="#/hkNew">
                                                <div >
                                                    <p class="tac">	
                                                        <span class="listit">
                                                            <img  class="img" src="img/hk.png" style="top: 8px">
                                                        还款公告</span>
                                                        <span class="fr m_r10">更多></span>
                                                    </p>
                                                </div>
                                            </a>
                                            <div ng-repeat="hkData in hkData"  style="padding-top: 15px; border-bottom: solid 1px #ddd;">
                                                <div ng-if="hkData.repayCorpus=='0'&& hkData.interest=='0'">
                                                    <div class="c l_h10 ">
                                                            <span class="fl hpt_10"><span>还款项目:</span>{{hkData.repayDate}}</span>
                                                    </div>
                                                    <div class="hpt_10">
                                                            <p>无计划项目还款</p>
                                                    </div>
                                                </div>
                                                <div ng-if="hkData.repayCorpus!='0'&& hkData.interest=='0'">
                                                        <div class="c l_h10 ">
                                                                <span class="fl hpt_10"><span>付息项目:</span>{{hkData.repayDate}}</span>
                                                        </div>
                                                        <div class="hpt_10" >
                                                                <p>总共像投资人派发利息人民币<span>{{hkData.repayCorpus}}</span></p>
                                                        </div>
                                                </div>
                                                <div ng-if="hkData.repayCorpus!='0'&& hkData.interest!='0'">
                                                        <div class="c l_h10 ">
                                                                <span class="fl hpt_10"><span>项目还款:</span>{{hkData.repayDate}}</span>
                                                        </div>
                                                        <div class="hpt_10" >
                                                                <p>成功还款本金人民币<span>{{hkData.repayCorpus}}</span>元。向投资人提供利息收益人民币<span>{{hkData.interest}}</span>元</p>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <!--审计报告-->
                            <div class="bgclor mar_10">
                                    <div class="hcard">
                                        <div class="boomcard ">
                                            <a ng-click="openUrl('审计报告','495');"> 
                                                <div >
                                                    <p class="tac">	
                                                        <img  class="img" src="img/sj.png">
                    
                                                        <span class="listit">审计报告
                    
                                                        </span>
                                                        <span class="fr m_r10">更多></span>
                                                    </p>
                                                </div>
                                            </a>
                                            <div class="boomcard mt_20" ng-repeat="sjData in sjData">
                                                <a style="text-decoration:none" href="#/AnnouncementContent/{{sjData.article_id}}/审计报告"> 
                                                    <div class="hpt_10 ln_40" style="border-bottom: solid 1px #ddd;">
                                                        <p>{{sjData.title}}</p>
                                                    </div>     
                                                </a>                          
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </li>
                     <!--备案信息-->
                    <li class="scruli">
                        <div id="AnnouncementContentDIV2" class="scrollerdiv" height="2400" style="font-size:14px;margin-top: 3px;margin-bottom: 0px;    color: #000;">
                        </div>
                    </li>
                    <!--平台数据-->
                    <li class="scruli">
                        <div height="3100" class="scrollerdiv">
                                <div  id="palt" style="background: rgb(255, 255, 255); padding-top: 20px;"><p class="newtitle"><span style="padding-left: 65px;">数据总览</span> <a href="#/xpMonthPld" style="font-size: 12px; color: rgb(0, 0, 255); padding-right: 8px; float: right;">
                                    查看月度数据> </a></p></div>
                                <iframe id="echartsIframe" name="echartsIframe" ng-src="page/echart.html" width="100%" height="3100" scrolling="no"></iframe>
                        </div>
                    </li>
                        <!-- 风控措施-->
                        <!--保障规则-->
                    <li class="scruli">
                        <div class="list pt g-mt-30 scrollerdiv"  height="750">
                                <div class="bgimg pt" style="width:90%;border: solid 1px #1fb13d;margin-bottom: 20px;  ">
                                    <img src="img/msg/msg_13.png" alt="tu" style=" max-width: 100%;"/>
                                </div>
                                <span class="gd"  ng-click="inAppBrowserRef.openUrl('https://m.he-pai.cn/hpmobile/microSite/aboutUs/safe.html?t={{time}}');" > 查看详情</span>
                        </div>
                    </li>  
                    <!-- 荣誉资质-->
                    <li class="scruli">
                        <div class="list pt mt_30 scrollerdiv"  height="5700" id="AnnouncementContentDIV1"  style="font-size:14px;margin-top: 3px;margin-bottom: 0px;    color: #000; " >
                                
                        </div>
                    </li>
                    <!--风控措施end-->
                    <!--网站规则-->
                    <li class="scruli">
                        <div  class="g-m-10 g-mt-30 scrollerdiv" height="750">
                        <div ng-repeat="ruleData in ruleData" > 
                            <div class="ruleimg">
                                    <a  class="rulelink" ng-click="openPdf('{{ruleData.url}}')">{{ruleData.title}}</a>
                            </div>
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div> 
    </div>  
  </ion-content>
</ion-view>
<style>
#wrapper2 {
    z-index: 1;
    top: 45px;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: auto;
}

#scroller1 {
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
    width: calc((100%+20px)*9);
    height: auto;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    
}

#scroller1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

.scruli {
    display: block;
    float: left;
    width: calc(((100%-20px)/9));
    height: auto;
}
td{
    vertical-align: middle;
}
.table{
    color:#4F555B;
    font-size:14px;
    line-height: 25px;
    text-align: left
}
.suntitle{
    text-align:center;
    color:#f36026;
    font-size:18px;
    font-weight: bold;
    margin: 10px;
}
.m_10{
    margin:0px auto
}
.mt_30{
    margin-top: 30px;
}
.content_color{
    background-color:#fafafa;
}
.content_color th{
    width: 30%;
    color:#999999
}
.content_color td{
    width: 70%;
    color:#5a6066

}
#team img { 
    vertical-align:top;
    border:none; 
    max-width: 100%;
}
.fz{
    color: #5a6066;
    text-align: center;
    line-height: 60px;
}
a{color:black;text-decoration:none;}
@media all and (min-width: 640px) { 
	#pageStruct{margin:0px auto;max-width:640px; overflow:hidden;} 
	#pageStruct .pageStructP2{padding:20px;}
	#headBox{font-size:18px;}
	#headBox h3{font-size:54px;margin-bottom:10px;}
	#headBox{background:#349cff;padding:20px 0px;color:#FFF;}
	#memberLstBox .item2{padding-bottom:20px;border-bottom:#349cff solid 1px;margin-bottom:20px;}
	#memberLstBox .item2 .con{padding-left:40px;font-size:16px; line-height:28px;color:#666666;}
	#memberLstBox .item2 .con .p1{margin:20px 0px;color:#4c4c4c;}
	#memberLstBox .item2 .con .name{font-size:26px;}
	#memberLstBox .item2 .con .edu{color:#888888;}
}
@media all and  (max-width: 640px){ 
	#pageStruct{margin:0px auto;min-width:320px;overflow:hidden;}
	#pageStruct .pageStructP2{padding:10px;}
	#headBox img{height:100px;}
	#headBox{font-size:14px;}
	#headBox h3{font-size:28px;margin-bottom:20px;}
	#memberLstBox img{height:188px;}
	#headBox{background:#349cff;padding:10px 0px;color:#FFF;}
	#memberLstBox .item2{padding-bottom:10px;margin-bottom:10px;}
	#memberLstBox .item2 .con{padding-left:20px;font-size:14px;line-height:24px;color:#666666;}
	#memberLstBox .item2 .con .p1{margin:10px 0px;color:#4c4c4c;}
	#memberLstBox .item2 .con .name{font-size:20px;}
	#memberLstBox .item2 .con .edu{color:#888888;}
}  
#memberLstBox .item2:last-child{border-bottom:none;}
</style>
        