<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <style type="text/css">
    *{margin: 0; padding: 0;}
    #udesk_panel{top:0 !important;}
    #myidid{display: none;}
    #loading{position: absolute; top: 50%; left: 50%; margin-left: -78px; margin-top:8px; font-size: 14px; color: #999;}
  </style>
</head>
<body>
<div id="myidid">
  <p>在线客服<i class="icon ion-chevron-right" style="font-size:1em;"></i></p>
</div>
<div id="loading">正在跳转中，请稍后...</div>

<script>
  (function(a,h,c,b,f,g){
    a["UdeskApiObject"]=f;
    a[f]=a[f]||function(){
        (a[f].d=a[f].d||[]).push(arguments)
      };
    g=h.createElement(c);
    g.async=1;
    g.src=b;
    c=h.getElementsByTagName(c)[0];
    c.parentNode.insertBefore(g,c)
  })(window,document,"script","http://he-pai.udesk.cn/im_client/js/udeskApi.js?_t=1463710115969","ud");
  ud({
    "onReady": function() {
      document.getElementById('myidid').click();
    },
     "panel": {
        "onToggle": function(data) {  //面板开关时间
            if (!data.visible) { //如果面板关闭
              window.location = "http://he-pai.udesk.cn/hc";
            }
        }
    },
    "code":"dbb52e8",
    "link":"//he-pai.udesk.cn/im_client",
    "mobile":{
      "mode":"inner",
      "selector":"#myidid",
      "targetSelector":"#myidid",
      "color":"#307AE8",
      "pos_flag":"crb",
      "onlineText":"联系客服，在线咨询",
      "offlineText":"客服下班，请留言",
      "pop":{
        "direction":"top",
        "arrow":{
          "top":0,
          "left":"70%"
        }
      },
    }
  });
</script>


</body>
</html>
