 <ion-view view-title="银行存管" hide-tabs="false" hide-back-button="true">
    <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="background" id="msg" overflow-scroll="true">
    <div class="p_10">
     <table style="    border-bottom: 0px;">
        <tr>
          <td>
                用户资金存管银行：

          </td>
		      <td>
                 江西银行股份有限公司

          </td>
        </tr>
         <tr>
            <td >
             存管接入时间： 
            </td>
		      	<td >
            2017年3月28日
            </td>
        </tr>
         <tr>
            <td rowspan="5" class="table-cell">
            银行存管的好处：
            </td>
        </tr>
         <tr>
		       <td style="width: 60%;">
            （1）用户账户资金在江西银行建立独立的存管账
             户，实现用户资金与平台运营资金的全面隔离；
            </td>
        </tr>
         <tr>
            <td style="width: 60%;" >
             （2）银行全面监控和管理用户每一笔资金流水， 并且由银行设定合规的资金操作规则。
            </td>
        </tr>
		     <tr>
            <td style="width: 60%;">
                （3）用户充值和提现操作直接连接银行操作，更加安全快捷。
            </td>
        </tr>
		    <tr>
            <td style="width: 60%;">
              （4）使合拍在线在合规经营的道路上继续走在了同行的前列。
            </td>
        </tr>
      </table>
      <div class="bgimg pt" style=" margin-top: 15px;">
        <img src="img/msg/msg_9.png" alt="tu" style=" max-width: 100%;"/>
      </div>
    </div>
  </ion-content>
</ion-view>
