   <ion-view view-title="公司简介" hide-tabs="false" hide-back-button="true">
   	
   	  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="background" id="msg" overflow-scroll="true">
    <div class="p_10">
        <div style="width: 25%;margin: 0 auto;">
        	<img src="img/logo.png" alt="tu"style="max-width: 100%;"/>
        </div>
	        <ul class="lst">
			    <li>
			    	<p>公司全称：  深圳市合拍在线互联网金融服务有限公司</p>
			    </li>
				<li>
					<p>公司简称(常用名)：  合拍在线</p>
				</li>
			    <li>
			    	<p>统一社会信用代码：  91440300068588146D</p>
			    </li>
			    <li>
			    	<p>公司注册资本：  10000万</p>
			    </li>
			    <li>
			    	<p>实缴注册资本：  10000万</p>
			    </li>
			    <li>
			    	<p> 公司注册地：  深圳市福田区福田街道滨河路与彩田路交汇处联合广场 A座裙楼A201H</p>
                                
			    </li>
			    <li>
			    	<p>公司经营地：  深圳市福田区福田街道滨河路与彩田路交汇处联合广场  A座裙楼A201H</p>
                               
			    </li>
			    <li>
			    	<p> 公司成立时间：  2013/5/6</p>
			    </li>
			    <li>
			    	<p> 公司经营期限：  永续经营</p>
			    </li>
			    <li>
			    	<p>  公司经营状态：  开业（存续）</p>
			    </li>
			    <li>
			    	<p>公司法定代表人：  张启红</p>
			    </li>
			    <li>
			    	<p> 公司经营范围：  依托互联网等技术手段，提供金融中介服务（根据国家  规定需要审批的，获得审批后方可经营）；计算机数据 库；计算机系统分 析；提供计算机技术服务；网上贸易；网上咨询；网络  商务服务；数据库服务；数据库管理；互联网技术推广  服务；投资咨询；经济贸易咨询（涉及前置性行政许可服务；投资咨询；经济贸易咨询（涉及前置性行政许可的，须取得前置性行政许可文件后方可经营）；自有房 屋租赁。</p>       
			    </li>
			    <li>
			    	<p>公司官方网址：  www.he-pai.cn</p>
			    </li>
			    <li>
			    	<p> 平台APP名称：  合拍在线 </p>
			    </li>
			    <li>
			    	<p> APP应用市场：  小米（2015.7.28）、应用宝（2015.3.6）、360 （2015.4.8）、搜狗（2015.9.2）、UC（2015.4.16）、苹果（2015.5.5） </p>       
			    </li>
			    <li>
			    	<p> 微信公众号：  合拍在线（hepaizaixian） </p>
			    </li>
			    <li>
			    	<p>微博：  合拍在线 </p>
			    </li>
			</ul>
			  <div class="bgimg pt" >
			  	<p>业务模式</p>
         		 <img src="img/msg/msg_15.png" alt="tu" style=" max-width: 100%;"/>
       		 </div>
       		  <div class="bgimg pt" >
			  	<p>理事单位</p>
         		 <img src="img/msg/msg_16.png" alt="tu" style=" max-width: 100%;"/>
       		 </div>
    </div>
  </ion-content>
</ion-view>
