<ion-view view-title="备案信息" hide-tabs="false" hide-back-button="true">
	
	  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="background" id="msg" overflow-scroll="true">
    <div class="list pt" style="margin: 10px;">
    <p>ICP信息：</p> 
    <p>粤ICP备13053014号-1、粤ICP备13053014号-2、粤ICP备13053014号-3、粤ICP备13053014号-4、 粤ICP备13053014号-5</p>
    <p style="padding-top: 10px;">ICP经营许可证编号： B2-20172959</p>
      <img src="img\msg\icp.jpg" width="100%"> 
    </div>
  </ion-content>
  <div style="margin-bottom: 0px;margin-top: 0px;background-color: rgb(229, 229, 229);">
      <ion-footer-bar align-title="center">
        <div style="background-color: rgb(229, 229, 229);">                                                         
          <a style="text-decoration:none;color: #222;background-color: rgb(229, 229, 229);margin: 0px;" ng-click="openPdf();" class="title">查看详情</a>
        </div>
      </ion-footer-bar>
    </div>
</ion-view>
