<ion-view view-title="组织架构" hide-tabs="false" hide-back-button="true">
      <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="background" id="msg" overflow-scroll="true">
    <div class="p_10">

    	<p>公司组织架构</p>

    	<div class="bgimg">
    		<img src="img/msg/msg_7.png" alt="tu" style=" max-width: 100%;"/>
    	</div>

		<p>从业人员概况：</p>
		<p style="text-align: center;">人员详情（截至到2018年1月）</p>
		<p style="text-align: center;">正式职员总人数：&nbsp; &nbsp; 102</p>
		<p style="text-align: center;">正式在岗职员人数：&nbsp; &nbsp; 93</p>		
		<p style="text-align: center;"> 试用期职员人数：&nbsp; &nbsp; 4</p>
		<p style="text-align: center;">休假职员人数：&nbsp; &nbsp; 5(产假)</p>
		<div class="bgimg">
    		<img src="img/msg/msg_8.png" alt="tu" style=" max-width: 100%;"/>
    	</div>

    </div>
  </ion-content>
</ion-view>
