    <ion-view view-title="股东信息" hide-tabs="false" hide-back-button="true">
        <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="background" id="msg" overflow-scroll="true">
    <div class="p_10">
	   <p>公司股东名称及占股比例： </p>
	   <table class="htbl" style="border-bottom:0px;">
        <tr>
	        <td> 公司股东名称</td>
			     <td  colspan="2" style="text-align: center;"> 占股比例</td>
        </tr>
        <tr>
		  	<td>深圳市三合创业投资集团有限公司   </td>
		    <td style="padding-left: 12px;"> 4000万元    </td>
		    <td style="padding-left: 12px;"> 40% </td>
        </tr>
        <tr>
	        <td > 深圳市三合创业工场集团有限公司   </td>
    			<td style="padding-left: 12px;">  2663万元 </td>
    			<td style="padding-left: 12px;"> 26.63%</td>
        </tr>
        <tr>
	        <td >  深圳市合拍电子商务有限公司     </td>
    			<td style="padding-left: 12px;">  2000万元   </td>
    			<td style="padding-left: 12px;">  20%</td>
        </tr>
        <tr>
	        <td >   深圳市合智中创贸易有限公司     </td>
  			  <td style="padding-left: 12px;" >   700万元    </td>
  			  <td style="padding-left: 12px;" >   7%			</td>
        </tr>
         <tr>
	        <td >   深圳市中科智资产管理有限公司    </td>
    			<td style="padding-left: 12px;">   337万元         </td>
    			<td style="padding-left: 12px;">   3.37%</td>
        </tr>
        <tr>
	        <td >  深圳市荣鼎轩贸易有限公司         </td>
    			<td style="padding-left: 12px;">  300万元   </td>
    			<td style="padding-left: 12px;">  3%		</td>
        </tr>
      </table>
      <div class="bgimg pt"style="margin-top:15px" >
         	 <img src="img/msg/msg_14.png" alt="tu" style=" max-width: 100%;"/>
        </div>
    </div>
  </ion-content>
</ion-view>
