 <ion-view view-title="专家顾问" hide-tabs="false" hide-back-button="true">
    <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="background" id="msg" overflow-scroll="true">
    <div class="p_10">
       <p> 合拍在线快速成长的道路上需要启迪与指导。合拍在线专家顾问团队，汇聚了各领域的精英和专家。权威铸就信任，经验创造财富，合拍在线专家顾问团队将引领合拍在线一路前行，乘法破浪。</p>
        <div class="bgimg pt" >
          <img src="img/msg/msg_10.png" alt="tu" style=" max-width: 100%;"/>
        </div>
        <div class="bgimg pt" >
          <img src="img/msg/msg_11.png" alt="tu" style=" max-width: 100%;"/>
        </div>
        <div class="bgimg pt" >
          <img src="img/msg/msg_12.png" alt="tu" style=" max-width: 100%;"/>
        </div>


    </div>
  </ion-content>
</ion-view>
