  <ion-view view-title="联系我们" hide-tabs="false" hide-back-button="true">
  	  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-light button-clear header-item" ng-click="goBackView()">
      <i class="icon ion-ios-arrow-left color-fff"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="background" id="msg" overflow-scroll="true">
    <div class="p_10">
	    <ul class="lst">
		    <li>
		    	<p>客户服务信息：</p>
		    </li>
			<li>
				<p>客服电话：<a href="tel:10101588">10101588</a></p>
			 </li>
		    <li>
		    	<p>邮箱：service@he-pai.cn</p>
		     </li>
		  
		</ul>
		<ul class="lst">
		    <li>
		    	<p>品牌媒体合作：</p>
		    </li>
		    <li>
				<p>联系人：米小姐 </p>
			 </li>
			<li>
				<p>电话：<a href="tel:0755-82787873">0755-82787873</a></p>
			 </li>
		    <li>
		    	<p>邮箱：market@he-pai.cn</p>
		     </li> 
		</ul>
		<ul class="lst">
		    <li>
		    	<p>推广获客合作：	</p>
		    </li>
		    <li>
				<p>联系人：叶先生</p>
			 </li>
			<li>
				<p>电话：<a href="tel:0755-82785876 ">0755-82785876 </a></p>
			 </li>
		    <li>
		    	<p>邮箱：yexin@he-pai.cn</p>
		     </li>
		</ul>
		<ul class="lst">
		    <li>
		    	<p>招聘及其他合作：	</p>
		    </li>
		    <li>
				<p>联系人：刘小姐  </p>
			 </li>
		    <li>
		    	<p>邮箱：hr@he-pai.cn</p>
		     </li>
		</ul>
	 	 <ul class="lst">
		    <li>
		    	<p>投诉举报专线：</p>
		    </li>
			<li>
				<p>客服电话：<a href="tel:0755-82545469">0755-82545469</a></p>
			 </li>
		    <li>
		    	<p>邮箱：service@he-pai.cn </p>
		     </li>
		  
		</ul>
  	
	
	
    </div>
  </ion-content>
</ion-view>
