<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
  </head>
  <body>
  11111111111111
  <iframe id="aboutIframe" name="shopIframe" ng-src="{{data.url}}" width="100%"  scrolling="yes" height="100%"></iframe>
    <!-- <form action="" method="post" id="zcSetTradePassword">
        <input type="hidden" id="accountId" name="accountId" value="" />
        <input type="hidden" id="acqRes" name="acqRes" value="" />
        <input type="hidden" id="bankCode" name="bankCode" value="" />
        <input type="hidden" id="channel" name="channel" value="" />
        <input type="hidden" id="idNo" name="idNo" value="" />
        <input type="hidden" id="idType" name="idType" value="" />
        <input type="hidden" id="instCode" name="instCode" value="" />
        <input type="hidden" id="mobile" name="mobile" value="" />
        <input type="hidden" id="name" name="name" value="" />
        <input type="hidden" id="notifyUrl" name="notifyUrl" value="" />
        <input type="hidden" id="seqNo" name="seqNo" value="" />
        <input type="hidden" id="sign" name="sign" value="" />
        <input type="hidden" id="txCode" name="txCode" value="" />
        <input type="hidden" id="txDate" name="txDate" value="" />
        <input type="hidden" id="txTime" name="txTime" value="" />
        <input type="hidden" id="version" name="version" value="" />
        <input type="hidden" id="retUrl" name="version" value="" />
      </form>
    <script>
        var href=decodeURIComponent(window.location.href);
        var data=JSON.parse(href.substring(href.indexOf("=")+1,href.length));
        document.getElementById('zcSetTradePassword').attributes['action'].value=data.reqUrl;
        document.getElementById('accountId').value=data.accountId;
        document.getElementById('acqRes').value=data.acqRes;
        document.getElementById('bankCode').value=data.bankCode;
        document.getElementById('channel').value=data.channel;
        document.getElementById('idNo').value=data.idNo;
        document.getElementById('idType').value=data.idType;
        document.getElementById('instCode').value=data.instCode;
        document.getElementById('mobile').value=data.mobile;
        document.getElementById('name').value=data.name;
        document.getElementById('notifyUrl').value=data.notifyUrl;
        document.getElementById('seqNo').value=data.seqNo;
        document.getElementById('sign').value=data.sign;
        document.getElementById('txCode').value=data.txCode;
        document.getElementById('txDate').value=data.txDate;
        document.getElementById('txTime').value=data.txTime;
        document.getElementById('version').value=data.version;
        document.getElementById('retUrl').value=data.version;

        document.getElementById('zcSetTradePassword').submit();
    </script> -->
  </body>
</html>
